.major{
  background: url(../assets/backgroundNft.png);
  /* background-image: linear-gradient(red, yellow); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:                                     inherit; */
  
}
/* .main{
    width: 100vw;  
    background-image: url(../assets//backgroundNft.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
   
  
} */
.main-1{
opacity: 1;
padding-top: 40px;
height: 268px;
position: fixed;
top: 0;
background-image: linear-gradient(black,transparent);

}
.top-nav{
  color: white;
  display: flex;
  width: 100vw;
  height: max-content;
}
.sub-top-nav{
  width: 60%;
  margin: auto;
  display: flex;
}
.one{
  width: 50%;
  height: 40px;
}
.two{
  width: 50%;
  height: 40px;
}
.one-ul{
  list-style-type: none;
  display: flex;
  text-align: left;
font: normal normal normal 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.two-ul{
  list-style-type: none;
  display: flex;
  text-align: left;
font: normal normal normal 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.one-ul li{
  margin: auto;
  display: flex;

}
.two-ul li{
  margin: auto;
  display: flex;

}
.hashtag{
  font-weight: bold;
  font-size: larger;
}
.hashtag p::first-letter{
  color: yellow;
}
@media only screen and (max-width: 920px) {
  .top-nav{
    color: wheat;
    display: block;
  }
  .sub-top-nav{
    width: 80%;
    margin: auto;
    display: block;
  }
  .one{
    width: 70%;
    height: max-content;
  }
  .two{
    width: 70%;
    height: max-content;
    margin-left: auto;
  }
}
@media only screen and (max-width: 468px) {
  .sub-top-nav{
    width: 100%;
    margin: auto;
    display: block;
  }
  .top-nav{
    color: wheat;
    display: block;
  }
  .one{
    width: 80%;
    height: max-content;
  }
  .two{
    width: 80%;
    height: max-content;
    margin-left: auto;
  }
}

@media only screen and (max-width: 328px) {
  .sub-top-nav{
    width: 100%;
    margin: auto;
    display: block;
  }
  .one-ul{
    font-size: x-small;
  }
  .two-ul{
    font-size: x-small;
  }
}
.second{
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
    height: fit-content;
}
.second1{
    width:70px ;
    height: 70px;
    border-radius: 100%;
    text-align: center;
    margin-top: 5px;
}
.second2{
    width: 254px;
    height: 71px;
    /* margin-right: 35px; */
}
.decent{
  font: normal normal medium 13px/19px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-left: 10px;
text-align: left;
}
.decentraland{
font: normal normal 900 37px/54px Noto Sans CJK KR;
color: #FFFFFF;
opacity: 1;
margin-left: 5px;
text-align: left;
}
.top-10{
    width: max-content;
    margin-left: 5px;
}
.tens{
    
    margin-right: 10px;
    text-align: center;
font: normal normal 100 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.second3{
    display: flex;
    width: 176px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}
.second3-div{
  width: 36px;
  height: 36px;
  background: #000000 0% 0% no-repeat padding-box;
   opacity: 1;
   border-radius: 100%;
}
.icon-img{
  width: 36px;
  height: 36px;
}
.second3-invisible{
    /* background: #FFE600 0% 0% no-repeat padding-box; */
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    height: 42px;
    width: 89px;
    display: none;
    margin-right: 5px;

}
@media only screen and (max-width: 920px) {
    .second1{
        width:55px ;
        height: 55px;
        border-radius: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .second2{
        width: 204px;
        height: 61px;
        margin-right: 35px;
    }
    .decentraland{
      font: normal normal bold 24px/35px Noto Sans CJK KR;
    color: #FFFFFF;
    opacity: 1;
    }
.second3{
display: none;
margin-top: 10px;
    }
.second3-invisible{
display: flex;
height: 37px;
width: 74px;
text-align: center;
line-height: 32px;
}

  }
  @media only screen and (max-width: 468px) {
    .second{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        height: fit-content;
    }
    .second1{
        width:40px ;
        height: 40px;
        margin-top: 5px;
    }
    .second2{
        width: 189px;
        height: 51px;
        margin-right: 35px;
    }
    .decentraland{
        font: normal normal bold 16px/24px Noto Sans CJK KR;
        color: #FFFFFF;
        opacity: 1;
    }
    .tens{
    margin-right: 10px;
    font: normal normal  10px/12px Noto Sans CJK KR;
    }
    .decent{
        font: normal normal normal 8px/16px Noto Sans CJK KR;
    }
 
    .second3-invisible{
        box-shadow: 0px 2px 4px #00000029;
        opacity: 1;
        height: 32px;
        width: 60px;
        text-align: center;
        line-height: 42px;
         opacity: 1;
    
    }
    .second4{
        display: flex;
        margin-left: auto;
        /* padding-top: 1rem; */
    }
 
  }

  @media only screen and (max-width: 328px) {
    .second1{
        width:35px ;
        height: 35px;
        margin-top: 5px;
    }
  }
.second4{
    display: flex;
    margin-left: auto;
    margin-top: 20px;
}
.tag{
    width: 16px;
    height: 24px;
}
.before-pills{
  width: 100vw;
}
.pills{
justify-self: center;
font: normal normal medium 16px/24px Noto Sans CJK KR;
margin-top: 269px;

}
.pills-div{
  width: 50%;
  margin: auto;
  /* background: #EF5350; */
}
.pills ul{
  width: 70%;
  /* background-color: #26A296; */
  margin-left: auto;
}
.nav-item{
  margin: auto;
}
.nav-item button{
  color: white;
  text-align: left;
  font: normal normal medium 16px/24px Noto Sans CJK KR;
  letter-spacing: 0px;
  opacity: 1;
}

@media only screen and (max-width: 920px) {
  .pills-div{
    width: 70%;
  }
  .pills{
    margin-top: 259px;
    font-size: small;
  }
  .pills ul{
     width: 60%;
    
  }
}
@media only screen and (max-width: 768px) {
  .pills-div{
    width: 70%;
  }
  .pills{
    margin-top: 259px;
    font-size: smaller;
  }
  .pills ul{
     width: 60%;
    
  }
  .tag{
    width: 12px;
    height: 20px;
}
}
@media only screen and (max-width: 568px) {
  .pills-div{
    width: 90%;
  }
  .pills ul{
     width: 60%;
    
  }

}
@media only screen and (max-width: 468px) {
  .pills-div{
    width: 90%;
  }
  .pills{
    margin-top: 269px;
    font-size: small;
  }
  .pills ul{
     width: 80%;
    
  }
  .nav-item button{
    font-size: small;
  }
}
@media only screen and (max-width: 420px) {
  .pills{
    margin-top: 259px;
    font-size: x-small;
  }
  .pills ul{
     width: 100%;
    
    
  }.tag{
    width: 10px;
    height: 18px;
}
}
@media only screen and (max-width: 320px) {
  .pills{
    margin-top: 259px;
    font-size:xx-small;
  }
  .pills ul{
     width: 100%;
     white-space: nowrap;
     display: flex;
    
    
  }.tag{
    width: 10px;
    height: 18px;
}
}
@media only screen and (max-width: 920px) {
    .second{
        display: flex;
        width: 80%;
        margin: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    .second{
        display: flex;
        width: 90%;
        margin: auto;
    }
  }

  .second5-nav{
    width: 80%;
    margin: auto;
  }
  .second5-nav-ul{
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
    color: #FFFFFF;
  }
  .second5-nav-ul a{
   margin: auto;
  }
  @media only screen and (max-width: 468px) {
    .second5-nav{
        width: 90%;
    }

 
  }
  @media only screen and (min-width: 920px) {
    .second5-nav{
        width: 80%;
        margin-left: auto;
        margin-top: 2rem;
      }
      .second5-nav-ul{
        width: 50%;
        margin-left: auto;
        margin-top: 1rem;
      }
 
  }
.numbers{
  margin-top: 20px;
}
  @media only screen and (max-width: 920px) {
    .second5-nav{
        margin-top: 3rem;
      }
      .numbers{
        font-size: medium;
        margin-top: 20px;
    }
 
  }
  @media only screen and (max-width: 768px) {
      .numbers{
        font-size: small;
        margin-top: 10px;
    }
 
  }

  @media only screen and (max-width: 280px) {

    .second5-nav{
        width: 100%;
      }
      .second2{
        width: fit-content;
        height: fit-content;
        margin-right: 0px;
    }
    .numbers{
        font-size: small;
    }
    .second5-nav-ul {
        font-size: small;
    }
 
  }

  
  .board{
    margin: auto;
    /* margin-top: 268px; */
     width: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    /* -webkit-backdrop-filter: blur(30px); */
    padding-top: 50px;
  }
  .board-nav{
    width: 70%;
    margin-right: auto;
   
  }
  .board-nav-ul{
    display: flex;
    list-style-type: none;
  }
  .board-nav-ul li{
    margin: auto;
    text-align: left;
font: normal normal bold 15px/24px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  }
  .boardnav-icon{
width: 10px;
height: 16px;
  }
  .p-tag{
    text-align: left;
    font-size: smaller;
    letter-spacing: 0px;
     color: #666666;
    opacity: 1;

  }
  .board-content{
    width: 85%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 7rem;
    opacity: 1;
    
  }
  .almost-all{
    width: 100vw;
    background: transparent;
  }
  .navy{
    padding-top: 5rem;
    padding-bottom: 80px;
    width: 50%;
    margin: auto;
    height: max-content;
    background:transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
  
  .navy-gallery{
    height: 182px;
    display: block;
     border-radius: 10px;
    opacity: 1;
    
  }
  .navy-row{
    justify-content: center;
  }


  @media only screen and (max-width: 920px) {
  .board{
        width: 70%;
      }
/* .pills-div{
        width: 70%;
        margin: auto;
      } */
  .board-nav{
        width: 100%;
      }
  .board-nav-ul li{
       font: normal normal bold 18px/28px Noto Sans CJK KR;
      }
      .navy{
        padding-top: 5rem;
        padding-bottom: 80px;
        width: 70%;
      }
      .navy-gallery{
        height: 142px;
         border-radius: 10px;
        opacity: 1;
      }
   
  }
  @media only screen and (max-width: 768px) {
      .board-nav-ul li{
    font-size: medium;

      }
 
  }
  @media only screen and (max-width: 568px) {
    /* .pills-div{
      width: 90%;
      margin: auto;
    } */
    .board{
        width: 90%;
      }
      .board-nav ul{
        display: none;
      }
      .navy{
        width: 90%;
      }
      .board-nav-ul li{
    font-size: medium;

      }
 
  }
  @media only screen and (max-width: 468px) {

      .board-nav-ul li{
    font-size: small;

      }
 
  }
  @media only screen and (max-width: 368px) {

    .board-nav-ul li{
  font-size: x-small;

    }

}

 
  .jumbotron{
    width: 100vw;
    height: 676px;
    margin-top: 34px;
  }
  .row-j{
    display: block;
    margin: auto;
  }
.col-j{
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8d898929;
   border-radius: 20px;
   opacity: 1;
   backdrop-filter: blur(30px);
   -webkit-backdrop-filter: blur(30px);
}
.p-3{
  display: flex;
}
.col-j-first{
  width:15% ;
  width: 66px;
  display: block;
  text-align: center;
  justify-content: center;
}
.col-j-first img{
  width: 66px;
  height: 66px;
  border-radius: 100%;
  margin: auto;
}
.col-j-two{
  width:85% ;
}
.col-j-two-a{
  width: fit-content;
  display: flex;
  margin-left: 15px;
  font-weight: bold;
  text-align: left;
font: normal normal bold 18px/26px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.col-j-two-b{
  text-align: center;
  width: 68px;
height: 24px;
  background: #26A296 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
color: white;
margin-left: 12px;
text-align: center;
font: normal normal medium 16px/24px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin: auto;
}

.col-j-two-c{
  margin-top: 11px ;
  margin-left: 10px;
 display: flex;
 justify-content: space-between;
 
}
.col-j-two-d{
  text-align: left;
font: normal normal normal 15px/21px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-left: 15px;
}
.col-j-two-e{
text-align: left;
font: normal normal normal 15px/21px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
/* font-family: "Myriad pro Semibold"; */
font-weight: bold;
white-space: nowrap;
display: flex;
}
.again{
  display: none;
}
.black{
  background-color: #303443;
}
.green{
  background-color: #26A296;
}
.orange{
  background-color:#EF5350 ;
}
.ethereum{
  width: 10px ;
  height: 16px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 3px;
}
@media only screen and (max-width: 1060px) {

  .col-j-two-d{
  font-size: small;
  margin-left: 10px;
  }
  .col-j-two-e{
    font-size: small;
    margin-left: 10px;
  }
  
  
  }
@media only screen and (max-width: 920px) {
.col-j{
  width: 80%;
}
.again{
  display:none;
}
.notagain{
  display: block;
}
.col-j-two-d{
font-size: small;
margin-left: 10px;
}
.col-j-two-e{
  font-size: small;
  margin-left: 10px;
}


}
@media only screen and (max-width: 768px) {
  .col-j{
    width: 80%;
  }
.again{
  display:block;
}
.notagain{
  display: none;
}
.col-j-two-c{
  margin-top: 6px ;
 display: block;
}

}
@media only screen and (max-width: 468px) {

  .col-j{
    width: 95%;
  }
  .col-j-two-a{
    font-size: medium;
  }
  .col-j-two-c{
    font-size: medium;
  }

}
@media only screen and (max-width: 338px) {

  .col-j{
    width: 100%;
  }
  .col-j-two-a{
    font-size: smaller;
  }
  .col-j-two-c{
    font-size: small;
  }
}



/* Nft tab css code */

/* Mobile CSS */
.container1 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.row1 {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}
.card {
  max-width: 150px;
  width: 100%;
  height: 234px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.card-img-top {
  height: 149px;
  width: 100%;
  opacity: 1;
}
.card-body {
  height: 85px;
}
.card-title {
  font-size: 12px;
}
.card-title2 {
  margin-top: 6px;
  margin-left: 50px;
}
.card-text {
  font-size: 10px;
}
/* Tablet CSS */

@media (min-width: 768px) {
  .container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .row1 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 12px;
    justify-items: center;
  }
  .card {
    max-width: 200px;
    width: 100%;
    height: 260px;
   /* border-radius: 30px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .card-body {
    height: 95px;
  }
  .card-img-top {
    height: 165px;
    width: 100%;
    opacity: 1;
  }
  .card-title {
    font-size: 15px;
  }
  .card-title2 {
    margin-top: 20px;
    margin-left: 90px;
  }
  .card-text {
    font-size: 10px;
  }
}

/* Large screen css */
@media (min-width: 992px) {
  .container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .row1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 12px;
    justify-items: center;
  }
  .card {
    max-width: 200px;
    width: 100%;
    height: 260px;
    /* border-radius: 30px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .card-body {
    height: 95px;
    /* border-radius: 20px; */
  }
  .card-img-top {
    height: 165px;
    width: 100%;
    /* border-radius: 20px 20px 0px 0px; */
    opacity: 1;
    object-fit: fill;
  }
  .card-title {
    font-size: 15px;
  }
  .card-title2 {
    margin-top: 20px;
    margin-left: 90px;
  }
  .card-text {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  .container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  .row1 {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 12px;
    justify-items: center;
  }
  .card {
    max-width: 200px;
    width: 100%;
    height: 260px;
    /* border-radius: 30px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .card-body {
    height: 95px;
    /* border-radius: 20px; */
  }
  .card-img-top {
    height: 165px;
    width: 100%;
    /* border-radius: 20px 20px 0px 0px; */
    opacity: 1;
    object-fit: fill;
  }
  .card-title {
    font-size: 15px;
  }
  .card-title2 {
    margin-top: 20px;
    margin-left: 90px;
  }
  .card-text {
    font-size: 10px;
  }
}








