
.main{
    width: 100vw;
    /* height: 1080px; */
  
}
.main-1{
background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
opacity: 1;
padding-top: 40px;
height: 268px;
/* padding-top: 30px; */
position: fixed;
top: 0;

}
.top-nav{
  color: wheat;
  display: flex;
  width: 100vw;
  height: max-content;
}
.one{
  width: 50%;
  height: 40px;
}
.two{
  width: 50%;
  height: 40px;
}
.one-ul{
  list-style-type: none;
  display: flex;
  text-align: left;
font: normal normal normal 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.two-ul{
  list-style-type: none;
  display: flex;
  text-align: left;
font: normal normal normal 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.one-ul li{
  margin: auto;
  display: flex;

}
.two-ul li{
  margin: auto;
  display: flex;

}
.hashtag{
  font-weight: bold;
  font-size: larger;
}
.hashtag p::first-letter{
  color: yellow;
}
@media only screen and (max-width: 920px) {
  .top-nav{
    color: wheat;
    display: block;
  }
  .one{
    width: 70%;
    height: max-content;
  }
  .two{
    width: 70%;
    height: max-content;
    margin-left: auto;
  }
}
@media only screen and (max-width: 468px) {
  .top-nav{
    color: wheat;
    display: block;
  }
  .one{
    width: 80%;
    height: max-content;
  }
  .two{
    width: 80%;
    height: max-content;
    margin-left: auto;
  }
}

.second{
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
    height: fit-content;
}
.second1{
    width:70px ;
    height: 70px;
    background: blue;
    border-radius: 100%;
    text-align: center;
}
.second2{
    width: 254px;
    height: 71px;
    margin-right: 35px;
}
.decent{
    font: normal normal medium 13px/19px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-left: 5px;
}
.decentraland{
    font: normal normal 900 37px/54px Noto Sans CJK KR;
    color: #FFFFFF;
opacity: 1;
margin-left: 5px;
}
.top-10{
    width: max-content;
    margin-left: 5px;
}
.tens{
    
    margin-right: 10px;
    text-align: center;
font: normal normal 100 12px/17px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.second3{
    display: flex;
    width: 176px;
    justify-content: space-between;
}
.second3-div{
  width: 36px;
  height: 36px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 1;
   border-radius: 100%;
}
.icon-img{
  width: 36px;
  height: 36px;
}
.second3-invisible{
    background: #FFE600 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 42px;
    width: 89px;
    text-align: center;
    line-height: 42px;
    display: none;

}
@media only screen and (max-width: 920px) {
    .second1{
        width:55px ;
        height: 55px;
        background: blue;
        border-radius: 100%;
        text-align: center;
    }
    .second2{
        width: 204px;
        height: 61px;
        margin-right: 35px;
    }
    .decentraland{
        font: normal normal bold 24px/35px Noto Sans CJK KR;
        color: #FFFFFF;
    opacity: 1;
    }
.second3{
display: none;
margin-top: 20px;
    }
.second3-invisible{
display: flex;
height: 37px;
width: 74px;
text-align: center;
line-height: 32px;
}

  }
  @media only screen and (max-width: 468px) {
    .second{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        height: fit-content;
    }
    .second1{
        width:45px ;
        height: 45px;
    }
    .second2{
        width: 189px;
        height: 51px;
        margin-right: 35px;
    }
    .decentraland{
        font: normal normal bold 16px/24px Noto Sans CJK KR;
        color: #FFFFFF;
        opacity: 1;
    }
    .tens{
    margin-right: 10px;
    font: normal normal  10px/12px Noto Sans CJK KR;
    }
    .decent{
        font: normal normal normal 8px/16px Noto Sans CJK KR;
    }
 
    .second3-invisible{
        background: #FFE600 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
        height: 32px;
        width: 60px;
        text-align: center;
        line-height: 42px;
        background: #FFE600 0% 0% no-repeat padding-box;
       box-shadow: 0px 3px 6px #00000029;
       opacity: 1;
    
    }
    .second4{
        display: flex;
        margin-left: auto;
        padding-top: 1rem;
    }
 
  }

.second4{
    display: flex;
    margin-left: auto;
}
.tag{
    width: 16px;
    height: 24px;
    background-color: brown;
}
.pills{
  font: normal normal medium 16px/24px Noto Sans CJK KR;
margin-top: 269px;
background-color: #303443;
}
.pills ul{
  width: 40%;
  margin-left: auto;
}
.nav-item{
  margin: auto;
}
.nav-item button{
  color: white;
  text-align: left;
  font: normal normal medium 16px/24px Noto Sans CJK KR;
  letter-spacing: 0px;
  opacity: 1;
}
@media only screen and (max-width: 920px) {
  .pills{
    margin-top: 30px;
  }
  .pills ul{
     width: 60%;
    
  }
}
@media only screen and (max-width: 468px) {
  .pills{
    margin-top: 25px;
  }
  .pills ul{
     width: 70%;
    
  }
  .nav-item button{
    font-size: small;
  }
}
@media only screen and (max-width: 920px) {
    .second{
        display: flex;
        width: 80%;
        margin: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    .second{
        display: flex;
        width: 90%;
        margin: auto;
    }
  }

  .second5-nav{
    width: 80%;
    margin: auto;
  }
  .second5-nav-ul{
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
    color: #FFFFFF;
  }
  .second5-nav-ul a{
   margin: auto;
  }
  @media only screen and (max-width: 468px) {
    .second5-nav{
        width: 90%;
    }

 
  }
  @media only screen and (min-width: 920px) {
    .second5-nav{
        width: 80%;
        margin-left: auto;
        margin-top: 2rem;
      }
      .second5-nav-ul{
        width: 50%;
        margin-left: auto;
        margin-top: 1rem;
      }
 
  }

  @media only screen and (max-width: 920px) {
    .second5-nav{
        margin-top: 3rem;
      }
      .numbers{
        font-size: medium;
    }
 
  }
  @media only screen and (max-width: 768px) {
      .numbers{
        font-size: small;
    }
 
  }

  @media only screen and (max-width: 280px) {

    .second5-nav{
        width: 100%;
      }
      .second2{
        width: fit-content;
        height: fit-content;
        margin-right: 0px;
    }
    .numbers{
        font-size: small;
    }
    .second5-nav-ul {
        font-size: small;
    }
 
  }

  
  .board{
    margin: auto;
    margin-top: 268px;
     width: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    /* -webkit-backdrop-filter: blur(30px); */
    padding-top: 50px;
  }
  .board-nav{
    width: 70%;
    margin-right: auto;
   
  }
  .board-nav-ul{
    display: flex;
    list-style-type: none;
  }
  .board-nav-ul li{
    margin: auto;
    text-align: left;
font: normal normal bold 20px/29px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
  }
  .p-tag{
    text-align: left;
    font-size: small;
    letter-spacing: 0px;
     color: #666666;
    opacity: 1;

  }
  .board-content{
    width: 85%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 8rem;
    opacity: 1;
    
  }
  .almost-all{
    width: 100vw;
    background: #303443 0% 0% no-repeat padding-box;
  }
  .navy{
    padding-top: 5rem;
    padding-bottom: 80px;
    width: 50%;
    margin: auto;
    height: max-content;
    background: #303443 0% 0% no-repeat padding-box;
    opacity: 1;
    
  }
  
  .navy-gallery{
    height: 182px;
    display: block;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
     border-radius: 10px;
    opacity: 1;
    
  }
  .navy-row{
    justify-content: center;
  }


  @media only screen and (max-width: 920px) {

    .board{
        width: 70%;
      }
      .board-nav{
        width: 100%;
      }
      .board-nav-ul li{
    font: normal normal bold 18px/28px Noto Sans CJK KR;
      }
      .navy{
        padding-top: 5rem;
        padding-bottom: 80px;
        width: 70%;
      }
      .navy-gallery{
        height: 142px;
    /* UI Properties */
        background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
         border-radius: 10px;
        opacity: 1;
      }
   
      .almost{
        text-align: left;
        justify-content: left;
      }
 
  }
  @media only screen and (max-width: 568px) {

    .board{
        width: 90%;
      }
      .board-nav{
        width: 100%;
      }
      .navy{
        width: 90%;
      }
 
  }

 
  .jumbotron{
    width: 100vw;
    height: max-content;
    margin-top: 61px;
  }
  .row-j{
    display: block;
    margin: auto;
  }
.col-j{
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8d898929;
   border-radius: 20px;
   opacity: 1;
   backdrop-filter: blur(30px);
   -webkit-backdrop-filter: blur(30px);
}
.p-3{
  display: flex;
}
.col-j-first{
  width:15% ;
  width: 66px;
  display: block;
  text-align: center;
  justify-content: center;
}
.col-j-first img{
  width: 66px;
  height: 66px;
  border-radius: 100%;
  margin: auto;
}
.col-j-two{
  width:85% ;
}
.col-j-two-a{
  width: 100%;
  display: flex;
  margin-left: 15px;
  font-weight: bold;
  text-align: left;
font: normal normal bold 18px/26px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.col-j-two-b{
  text-align: center;
  width: 68px;
height: 24px;
  background: #26A296 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
color: white;
margin-left: 12px;
text-align: center;
font: normal normal medium 16px/24px Noto Sans CJK KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin: auto;
}

.col-j-two-c{
  margin-top: 11px ;
  margin-left: 10px;
 display: flex;
 justify-content: space-between;
 
}
.col-j-two-d{
  text-align: left;
font: normal normal normal 15px/21px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-left: 15px;
}
.col-j-two-e{
text-align: left;
font: normal normal normal 15px/21px Noto Sans CJK KR;
letter-spacing: 0px;
color: #000000;
opacity: 1;
/* font-family: "Myriad pro Semibold"; */
font-weight: bold;
white-space: nowrap;
display: flex;
}
.again{
  display: none;
}
.black{
  background-color: #303443;
}
.green{
  background-color: #26A296;
}
.orange{
  background-color:#EF5350 ;
}
.ethereum{
  width: 10px ;
  height: 16px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 3px;
}
@media only screen and (max-width: 1060px) {

  .col-j-two-d{
  font-size: small;
  margin-left: 10px;
  }
  .col-j-two-e{
    font-size: small;
    margin-left: 10px;
  }
  
  
  }
@media only screen and (max-width: 920px) {
.col-j{
  width: 80%;
}
.again{
  display:none;
}
.notagain{
  display: block;
}
.col-j-two-d{
font-size: small;
margin-left: 10px;
}
.col-j-two-e{
  font-size: small;
  margin-left: 10px;
}


}
@media only screen and (max-width: 768px) {
  .col-j{
    width: 80%;
  }
.again{
  display:block;
}
.notagain{
  display: none;
}
.col-j-two-c{
  margin-top: 6px ;
 display: block;
}

}
@media only screen and (max-width: 468px) {

  .col-j{
    width: 95%;
  }

}